* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(9, 100, 160);
}

/* 모바일 화면 조건 ~ 767px */
#container {
    width: 320px;
    margin: 50px auto;
}

.card {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 20px 10px;
    border: 1px solid #0f0f0f33;
    background-color: #ffffff;
}

.words {
    position: absolute;
    left: 10px;
    top: 300px;
    padding: 10px;
    text-align: center;
}

/* 태블릿 화면 조건 768px ~ 1719px */
@media screen and (min-width: 768px) and (max-width:1719px) {
    #container {
        width: 570px;
        margin: 50px auto;
    }

    .card {
        position: relative;
        width: 550px;
        height: 250px;
        margin: 20px 10px;
        border: 1px solid #0f0f0f33;
        background-color: #ffffff;
    }

    .words {
        position: absolute;
        left: 310px;
        top: 50px;
        text-align: center;
        width: 200px;
    }
}

/* PC화면 미디어 쿼리 조건 1720px ~ */
@media screen and (min-width:1720px) {
    #container {
        width: 1710px;
        margin: 50px auto;
    }

    .card {
        position: relative;
        float: left;
        width: 550px;
        height: 250px;
        margin: 10px;
        border: 1px solid #0f0f0f33;
        background-color: #ffffff;
    }

    .words {
        position: absolute;
        left: 310px;
        top: 50px;
        text-align: center;
        width: 200px;
    }
}
